.create-disc-product-main {
  padding: 1.25rem;
  padding-top: 0.875rem;
}
@media screen and (min-width: 1440px) {
  .create-disc-product-main {
    padding: 1.875rem;
    padding-top: 1rem;
  }
}
@media screen and (max-width: 576px) {
  .create-disc-product-main {
    padding: 0.625rem;
  }
}
.create-disc-product-main .discount-product-inputs .input-wrap .input-area-main {
  height: 75px;
}
.create-disc-product-main .discount-search-input .input-area-main {
  height: 75px;
}
.create-disc-product-main .discount-product-list-main {
  margin-bottom: 1.25rem;
}
.create-disc-product-main .discount-product-list-main .ant-spin-nested-loading {
  overflow: auto;
  height: 260px;
}
@media screen and (min-width: 1440px) {
  .create-disc-product-main .discount-product-list-main .ant-spin-nested-loading {
    height: calc(100vh - 521px);
  }
}
.create-disc-product-main .discount-product-list-main .table-wrap .table .discount-product-list {
  padding: 0;
}
.create-disc-product-main .discount-product-list-main .table-wrap .table .discount-product-list table .ant-table-thead tr .ant-table-cell {
  padding: 0.75rem;
  padding-top: 0;
  position: sticky;
  top: 0;
  z-index: 1;
}
.create-disc-product-main .discount-product-list-main .table-wrap .table .discount-product-list table .ant-table-thead tr .ant-table-cell:first-child {
  padding-left: 0;
  width: 170px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.create-disc-product-main .discount-product-list-main .table-wrap .table .discount-product-list table .ant-table-thead tr .ant-table-cell:nth-child(2) {
  width: 170px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.create-disc-product-main .discount-product-list-main .table-wrap .table .discount-product-list table .ant-table-tbody .ant-table-row .ant-table-cell {
  padding: 0.75rem;
}
.create-disc-product-main .discount-product-list-main .table-wrap .table .discount-product-list table .ant-table-tbody .ant-table-row .ant-table-cell:first-child {
  padding-left: 0;
  width: 170px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.create-disc-product-main .discount-product-list-main .table-wrap .table .discount-product-list table .ant-table-tbody .ant-table-row .ant-table-cell:nth-child(2) {
  width: 170px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.create-disc-product-main .discount-product-list-main .table-wrap .table .discount-product-list table .ant-table-tbody .ant-table-row .ant-table-cell:last-child {
  display: flex;
  gap: 1.25rem;
}
.create-disc-product-main .discount-product-list-main .table-wrap .table .discount-product-list table .ant-table-tbody .ant-table-row .ant-table-cell:last-child .input-wrap .input-area-main {
  height: 44px;
}
.create-disc-product-main .discount-product-list-main .table-wrap .table .discount-product-list table .ant-table-tbody .ant-table-row .ant-table-cell:last-child .input-wrap .input-area-main input {
  width: 200px;
  height: 44px;
  background: #f3f6f9;
}
.create-disc-product-main .discount-product-list-main .table-wrap .table .discount-product-list table .ant-table-tbody .ant-table-row .ant-table-cell:last-child .input-wrap .input-area-main .ant-select {
  width: 200px;
  height: 44px;
  background: #f3f6f9;
}
.create-disc-product-main .loader-animation-main .loader-animation {
  height: 298px;
}
.create-disc-product-main .save-btn {
  width: 120px;
}/*# sourceMappingURL=CreateDiscountProductView.css.map */