.product-list-main {
  background: #f3f6f9;
  padding: 1.25rem;
  padding-top: 0.875rem;
  padding-bottom: 0;
}
@media screen and (min-width: 1440px) {
  .product-list-main {
    padding: 1.875rem;
    padding-top: 1rem;
    padding-bottom: 0;
  }
}
@media screen and (max-width: 576px) {
  .product-list-main {
    padding: 0.625rem;
  }
}
.product-list-main .table-wrap .table {
  background: transparent;
  padding: 0;
}
.product-list-main .table-wrap .table-header-main .print-button-main .generate-backup-button {
  width: 160px;
}
@media screen and (max-width: 768px) {
  .product-list-main .table-wrap .table-header-main .print-button-main .generate-backup-button {
    width: 130px;
  }
}
.product-list-main .product-list-table {
  height: calc(100vh - 312px);
  background: #fff;
  overflow-x: hidden;
  overflow-y: auto;
}
@media screen and (min-width: 1500px) {
  .product-list-main .product-list-table {
    height: calc(100vh - 332px);
  }
}
@media screen and (max-width: 1200px) {
  .product-list-main .product-list-table {
    height: 320px;
  }
}
@media screen and (max-width: 768px) {
  .product-list-main .product-list-table {
    height: 336px;
  }
}
.product-list-main .product-list-table .ant-spin {
  top: 2.25rem;
}
.product-list-main .product-list-table .ant-spin-nested-loading {
  height: calc(100vh - 312px);
  background: #fff;
  overflow-x: auto;
}
@media screen and (min-width: 1500px) {
  .product-list-main .product-list-table .ant-spin-nested-loading {
    height: calc(100vh - 332px);
  }
}
@media screen and (max-width: 1200px) {
  .product-list-main .product-list-table .ant-spin-nested-loading {
    height: 320px;
  }
}
@media screen and (max-width: 768px) {
  .product-list-main .product-list-table .ant-spin-nested-loading {
    height: 336px;
  }
}
.product-list-main .product-list-table .ant-table-content {
  background: #fff;
  position: relative;
}
.product-list-main .product-list-table .ant-table-content .ant-empty-normal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
}
@media screen and (min-width: 1400px) {
  .product-list-main .product-list-table .ant-table-content .ant-empty-normal {
    left: 50%;
    top: 50%;
  }
}
@media screen and (max-width: 1040px) {
  .product-list-main .product-list-table .ant-table-content .ant-empty-normal {
    left: 37%;
  }
}
.product-list-main .product-list-table table {
  background: #fff;
}
.product-list-main .product-list-table table .ant-table-wrapper {
  overflow-x: auto;
  overflow-y: hidden;
}
.product-list-main .product-list-table table colgroup col {
  width: 16px !important;
}
.product-list-main .product-list-table table .ant-table-thead tr th {
  position: sticky;
  top: 0;
  z-index: 2;
  height: 55px;
  font-size: 0.875rem;
}
@media screen and (max-width: 768px) {
  .product-list-main .product-list-table table .ant-table-thead tr th {
    font-size: 0.813rem;
  }
}
.product-list-main .product-list-table table .ant-table-thead tr .ant-table-column-sort {
  background: #fff;
}
.product-list-main .product-list-table table .ant-table-thead tr .ant-table-cell {
  padding: 0 0.75rem;
}
.product-list-main .product-list-table table .ant-table-thead tr .ant-table-cell .ant-checkbox-wrapper .ant-checkbox .ant-checkbox-inner {
  border: 0.063rem solid #575fe9;
}
.product-list-main .product-list-table table .ant-table-thead tr .ant-table-cell .ant-checkbox-wrapper .ant-checkbox .ant-checkbox-input:focus-visible .ant-checkbox-inner {
  outline: none;
}
.product-list-main .product-list-table table .ant-table-thead tr .ant-table-cell .ant-checkbox-wrapper .ant-checkbox-checked .ant-checkbox-inner {
  background: #575fe9;
}
.product-list-main .product-list-table table .ant-table-thead tr .ant-table-cell:first-child {
  text-align: center;
  padding-left: 0;
  border-start-start-radius: 0;
}
.product-list-main .product-list-table table .ant-table-thead tr .ant-table-cell:nth-child(3) {
  max-width: 140px;
}
.product-list-main .product-list-table table .ant-table-thead tr .ant-table-cell:nth-child(4) {
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.product-list-main .product-list-table table .ant-table-thead tr .ant-table-cell:nth-child(5) {
  max-width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.product-list-main .product-list-table table .ant-table-thead tr .ant-table-cell:nth-child(6) {
  max-width: 149px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.product-list-main .product-list-table table .ant-table-thead tr .ant-table-cell:nth-child(8) {
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.product-list-main .product-list-table table .ant-table-thead tr .ant-table-cell:last-child {
  border-start-end-radius: 0;
  min-width: 110px;
  text-align: center;
  box-shadow: 0 -7px 10px rgba(0, 0, 0, 0.1098039216);
}
@media screen and (max-width: 768px) {
  .product-list-main .product-list-table table .ant-table-thead tr .ant-table-cell:last-child {
    max-width: 90px;
    min-width: 90px !important;
    width: 90px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
.product-list-main .product-list-table table .ant-table-thead tr .ant-table-column-has-sorters:hover {
  background: #fff;
}
.product-list-main .product-list-table table .ant-table-thead tr .ant-table-cell-fix-right {
  position: sticky !important;
}
.product-list-main .product-list-table table .ant-table-tbody .ant-table-placeholder .ant-table-cell {
  height: calc(100vh - 372px);
  border-bottom: none;
  font-size: 0.813rem;
}
@media screen and (min-width: 1400px) {
  .product-list-main .product-list-table table .ant-table-tbody .ant-table-placeholder .ant-table-cell {
    height: calc(100vh - 387px);
  }
}
@media screen and (max-width: 1040px) {
  .product-list-main .product-list-table table .ant-table-tbody .ant-table-placeholder .ant-table-cell {
    height: 260px;
    font-size: 0.75rem;
  }
}
.product-list-main .product-list-table table .ant-table-tbody .ant-table-row .ant-table-cell {
  font-size: 0.813rem;
  padding: 0.75rem;
}
@media screen and (max-width: 768px) {
  .product-list-main .product-list-table table .ant-table-tbody .ant-table-row .ant-table-cell {
    font-size: 0.75rem;
  }
}
.product-list-main .product-list-table table .ant-table-tbody .ant-table-row .ant-table-cell p {
  margin: 0;
}
.product-list-main .product-list-table table .ant-table-tbody .ant-table-row .ant-table-cell .ant-checkbox-wrapper .ant-checkbox .ant-checkbox-inner {
  border: 0.063rem solid #575fe9;
}
.product-list-main .product-list-table table .ant-table-tbody .ant-table-row .ant-table-cell .ant-checkbox-wrapper .ant-checkbox .ant-checkbox-inner .ant-checkbox-input:focus-visible .ant-checkbox-inner {
  outline: none;
}
.product-list-main .product-list-table table .ant-table-tbody .ant-table-row .ant-table-cell .ant-checkbox-wrapper .ant-checkbox-checked .ant-checkbox-inner {
  background: #575fe9;
}
.product-list-main .product-list-table table .ant-table-tbody .ant-table-row .ant-table-column-sort {
  background: transparent;
}
.product-list-main .product-list-table table .ant-table-tbody .ant-table-row .ant-table-cell:nth-child(1) {
  padding-left: 0;
}
.product-list-main .product-list-table table .ant-table-tbody .ant-table-row .ant-table-cell:nth-child(2) {
  line-height: 0;
}
.product-list-main .product-list-table table .ant-table-tbody .ant-table-row .ant-table-cell:nth-child(2) .ant-image {
  height: 50px;
  width: 50px;
  border-radius: 0.313rem;
  overflow: hidden;
  box-shadow: rgba(22, 22, 22, 0.0392156863) 0px 20px 33px -5px, rgba(22, 22, 22, 0.0392156863) 0px 10px 10px -5px;
}
.product-list-main .product-list-table table .ant-table-tbody .ant-table-row .ant-table-cell:nth-child(2) .ant-image .ant-image-img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover !important;
     object-fit: cover !important;
}
.product-list-main .product-list-table table .ant-table-tbody .ant-table-row .ant-table-cell:nth-child(3) {
  max-width: 170px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
}
.product-list-main .product-list-table table .ant-table-tbody .ant-table-row .ant-table-cell:nth-child(4) {
  width: 120px;
  cursor: pointer;
}
.product-list-main .product-list-table table .ant-table-tbody .ant-table-row .ant-table-cell:nth-child(4) p {
  max-width: 120px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.product-list-main .product-list-table table .ant-table-tbody .ant-table-row .ant-table-cell:nth-child(5) {
  max-width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.product-list-main .product-list-table table .ant-table-tbody .ant-table-row .ant-table-cell:nth-child(6) {
  max-width: 149px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
}
.product-list-main .product-list-table table .ant-table-tbody .ant-table-row .ant-table-cell:nth-child(7) {
  max-width: 110px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.product-list-main .product-list-table table .ant-table-tbody .ant-table-row .ant-table-cell:nth-child(8) {
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.product-list-main .product-list-table table .ant-table-tbody .ant-table-row .ant-table-cell:last-child {
  text-align: center;
}
@media screen and (max-width: 768px) {
  .product-list-main .product-list-table table .ant-table-tbody .ant-table-row .ant-table-cell:last-child {
    max-width: 90px;
    min-width: 90px !important;
    width: 90px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
.product-list-main .product-list-table table .ant-table-tbody .ant-table-row .ant-table-cell:last-child div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.product-list-main .product-list-table table .ant-table-tbody .ant-table-row .ant-table-cell:last-child div a {
  margin-left: 0.563rem;
}
.product-list-main .product-list-table table .ant-table-tbody .ant-table-row .ant-table-cell:last-child div span svg {
  height: 19px;
  width: 100%;
  -o-object-fit: none;
     object-fit: none;
}
@media screen and (max-width: 768px) {
  .product-list-main .product-list-table table .ant-table-tbody .ant-table-row .ant-table-cell:last-child div span svg {
    height: 18px;
    width: 14px;
  }
}
.product-list-main .product-list-table table .ant-table-tbody .ant-table-row .ant-table-cell:last-child div a:nth-child(1) {
  height: 19px;
  width: 19px;
  margin-left: 0;
}
@media screen and (max-width: 768px) {
  .product-list-main .product-list-table table .ant-table-tbody .ant-table-row .ant-table-cell:last-child div a:nth-child(1) {
    width: 15px;
  }
}
.product-list-main .product-list-table table .ant-table-tbody .ant-table-row .ant-table-cell:last-child div a:nth-child(1) span svg {
  fill: #14ba93;
}
@media screen and (max-width: 768px) {
  .product-list-main .product-list-table table .ant-table-tbody .ant-table-row .ant-table-cell:last-child div a:nth-child(1) span svg {
    height: 18px;
    width: 15px;
  }
}
.product-list-main .product-list-table table .ant-table-tbody .ant-table-row .ant-table-cell:last-child div a:nth-child(2) {
  height: 19px;
}
.product-list-main .product-list-table table .ant-table-tbody .ant-table-row .ant-table-cell:last-child div a:nth-child(2) span svg {
  fill: #575fe9;
}
.product-list-main .product-list-table table .ant-table-tbody .ant-table-row .ant-table-cell:last-child div .ant-image {
  cursor: pointer;
  margin-left: 0.563rem;
}
.product-list-main .product-list-table table .ant-table-tbody .ant-table-row .ant-table-cell:last-child div .ant-image img {
  height: 100%;
  width: 19px;
}
@media screen and (max-width: 768px) {
  .product-list-main .product-list-table table .ant-table-tbody .ant-table-row .ant-table-cell:last-child div .ant-image img {
    width: 15px;
  }
}
.product-list-main .product-list-table table .ant-table-tbody .ant-table-row .ant-table-cell-fix-right {
  position: sticky !important;
  z-index: 0;
}
.product-list-main .table-wrap .table h1 {
  margin: 0;
}/*# sourceMappingURL=productslist.css.map */