.new-purchase-return-wrap {
  padding: 1.25rem;
  padding-top: 0.875rem;
}
@media screen and (min-width: 1440px) {
  .new-purchase-return-wrap {
    padding: 1.875rem;
    padding-top: 1rem;
  }
}
@media screen and (max-width: 576px) {
  .new-purchase-return-wrap {
    padding: 0.625rem;
  }
}
.new-purchase-return-wrap .purchase-return-new-main {
  margin-bottom: 1rem;
}
.new-purchase-return-wrap .purchase-return-new-main .new-purchase-return-form .input-wrap .input-area-main {
  height: 75px;
}
.new-purchase-return-wrap .purchase-return-new-main .new-purchase-return-form .input-wrap .input-area-main .ant-input-affix-wrapper {
  padding-left: 2.563rem;
  position: relative;
  align-items: center;
}
.new-purchase-return-wrap .purchase-return-new-main .new-purchase-return-form .input-wrap .input-area-main .ant-input-affix-wrapper .ant-input-prefix {
  position: absolute;
  left: 1.25rem;
  top: 1rem;
}
.new-purchase-return-wrap .purchase-return-new-main .new-purchase-return-form .input-wrap .input-area-main .ant-input-affix-wrapper .ant-input {
  height: -moz-fit-content;
  height: fit-content;
}
.new-purchase-return-wrap .purchase-return-new-main .other-details-main {
  margin-bottom: 1.25rem;
}
.new-purchase-return-wrap .purchase-return-new-main .other-details-main .table-wrap .table h1 {
  width: 100%;
  background: #fff;
}
@media screen and (max-width: 575px) {
  .new-purchase-return-wrap .purchase-return-new-main .other-details-main .table-wrap .table h1 {
    font-size: 0.875rem;
  }
}
.new-purchase-return-wrap .purchase-return-new-main .other-details-main .details-table {
  margin-top: 0.625rem;
  overflow: auto;
  overflow: auto;
  padding: 0;
}
.new-purchase-return-wrap .purchase-return-new-main .other-details-main .details-table .ant-table-container {
  border-inline-start: 0;
  border-top: 0;
}
.new-purchase-return-wrap .purchase-return-new-main .other-details-main .details-table .ant-table-content table .ant-table-thead .ant-table-cell {
  padding: 0.75rem;
  padding-top: 0;
  border-inline-end: 0;
  font-size: 0.875rem;
}
@media screen and (max-width: 768px) {
  .new-purchase-return-wrap .purchase-return-new-main .other-details-main .details-table .ant-table-content table .ant-table-thead .ant-table-cell {
    font-size: 0.813rem;
  }
}
.new-purchase-return-wrap .purchase-return-new-main .other-details-main .details-table .ant-table-content table .ant-table-thead .ant-table-cell:nth-child(1) {
  padding-left: 0;
}
.new-purchase-return-wrap .purchase-return-new-main .other-details-main .details-table .ant-table-content table .ant-table-tbody .ant-table-cell {
  padding: 0.75rem;
  border-inline-end: 0;
}
.new-purchase-return-wrap .purchase-return-new-main .other-details-main .details-table .ant-table-content table .ant-table-tbody .ant-table-cell:nth-child(1) {
  padding-left: 0;
}
.new-purchase-return-wrap .purchase-return-new-main .purchase-return-order-table-main {
  justify-content: end;
}
.new-purchase-return-wrap .purchase-return-new-main .purchase-return-order-table-main .purchase-return-bill-wrap {
  display: flex;
  align-items: center;
}
.new-purchase-return-wrap .purchase-return-new-main .purchase-return-order-table-main .purchase-return-bill-wrap .purchase-return-bill-main {
  width: 100%;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1.25rem;
  border-radius: 0.25rem;
  padding: 1rem;
}
.new-purchase-return-wrap .purchase-return-new-main .purchase-return-order-table-main .purchase-return-bill-wrap .order-tax-main {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.new-purchase-return-wrap .purchase-return-new-main .purchase-return-order-table-main .purchase-return-bill-wrap .order-tax-title {
  color: #5b6670;
  font-size: 0.938rem;
  font-weight: 500;
  margin: 0;
}
@media screen and (max-width: 1440px) {
  .new-purchase-return-wrap .purchase-return-new-main .purchase-return-order-table-main .purchase-return-bill-wrap .order-tax-title {
    font-size: 0.813rem;
  }
}
.new-purchase-return-wrap .purchase-return-new-main .purchase-return-order-table-main .purchase-return-bill-wrap .grand-total-main {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.new-purchase-return-wrap .save-btn {
  width: 90px;
  padding: 0;
}

.purchase-return-table-main {
  background: #f3f6f9;
  overflow-y: auto;
  margin-bottom: 1.25rem;
}
.purchase-return-table-main .table-wrap .table {
  padding: 0;
}
.purchase-return-table-main .table-wrap .table h1 {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 35px;
  display: flex;
  align-items: end;
  background: #fff;
  padding: 0 1.25rem;
}
@media screen and (max-width: 575px) {
  .purchase-return-table-main .table-wrap .table h1 {
    height: 40px;
    font-size: 0.875rem;
  }
}
.purchase-return-table-main .purchase-return-table {
  padding: 0 1.25rem;
}
.purchase-return-table-main .purchase-return-table .ant-spin-nested-loading {
  overflow: auto;
  max-height: 360px;
}
.purchase-return-table-main .purchase-return-table table colgroup col {
  width: 16px !important;
}
.purchase-return-table-main .purchase-return-table table .ant-table-thead tr th {
  position: sticky;
  top: 0;
  z-index: 3;
  padding: 0.75rem 1rem;
  font-size: 0.875rem;
}
@media screen and (max-width: 768px) {
  .purchase-return-table-main .purchase-return-table table .ant-table-thead tr th {
    font-size: 0.813rem;
  }
}
.purchase-return-table-main .purchase-return-table table .ant-table-thead tr td {
  position: sticky;
  top: 0;
  z-index: 3;
  padding: 0.75rem 1rem;
  background-color: #fff;
}
.purchase-return-table-main .purchase-return-table table .ant-table-thead tr .ant-table-cell .ant-table-column-sorters .ant-table-column-title {
  white-space: nowrap;
}
.purchase-return-table-main .purchase-return-table table .ant-table-thead tr .ant-table-cell:nth-child(1) {
  padding-left: 0;
  border-start-start-radius: 0;
}
.purchase-return-table-main .purchase-return-table table .ant-table-thead tr .ant-table-cell:nth-child(1)::before {
  width: 0 !important;
}
.purchase-return-table-main .purchase-return-table table .ant-table-thead tr .ant-table-cell:last-child {
  width: 87px;
  right: 0;
  text-align: center;
  box-shadow: 0 -7px 10px rgba(0, 0, 0, 0.1098039216);
  border-start-end-radius: 0;
}
.purchase-return-table-main .purchase-return-table table .ant-table-tbody .ant-table-row .ant-table-cell {
  padding: 0.75rem 1rem;
  font-size: 0.875rem;
}
@media screen and (max-width: 768px) {
  .purchase-return-table-main .purchase-return-table table .ant-table-tbody .ant-table-row .ant-table-cell {
    font-size: 0.813rem;
  }
}
.purchase-return-table-main .purchase-return-table table .ant-table-tbody .ant-table-row .ant-table-cell .ant-checkbox-wrapper .ant-checkbox .ant-checkbox-inner {
  border: 0.063rem solid #575fe9;
}
.purchase-return-table-main .purchase-return-table table .ant-table-tbody .ant-table-row .ant-table-cell .ant-checkbox-wrapper .ant-checkbox-checked .ant-checkbox-inner {
  background: #575fe9;
}
.purchase-return-table-main .purchase-return-table table .ant-table-tbody .ant-table-row .ant-table-cell .ant-tag-error {
  background: #ffe9eb;
  color: #ea3548;
  font-weight: 600;
  padding: 0.406rem 0.625rem;
  border: none;
}
.purchase-return-table-main .purchase-return-table table .ant-table-tbody .ant-table-row .ant-table-cell .ant-tag-success {
  background: #edfffb;
  color: #03b288;
  padding: 0.406rem 0.625rem;
  font-weight: 600;
  border: none;
  height: 30px;
}
.purchase-return-table-main .purchase-return-table table .ant-table-tbody .ant-table-row .ant-table-cell:nth-child(1) {
  padding-left: 0;
}
.purchase-return-table-main .purchase-return-table table .ant-table-tbody .ant-table-row .ant-table-cell:nth-child(1) .ant-checkbox-wrapper-disabled .ant-checkbox-disabled .ant-checkbox-inner {
  border: 0.063rem solid #828c97;
}
.purchase-return-table-main .purchase-return-table table .ant-table-tbody .ant-table-row .ant-table-cell:nth-child(5) {
  max-width: 133px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.purchase-return-table-main .purchase-return-table table .ant-table-tbody .ant-table-row .ant-table-cell:last-child {
  position: sticky;
  right: 0;
  background: #fff;
}
.purchase-return-table-main .purchase-return-table table .ant-table-tbody .ant-table-row .ant-table-cell:last-child div {
  display: flex;
  align-items: center;
  gap: 0.563rem;
  justify-content: center;
}
.purchase-return-table-main .purchase-return-table table .ant-table-tbody .ant-table-row .ant-table-cell:last-child div .ant-image {
  cursor: pointer;
}
.purchase-return-table-main .purchase-return-table table .ant-table-tbody .ant-table-row .ant-table-cell:last-child div .ant-image img {
  height: 100%;
  width: 19px;
}

.purchase-return-product {
  padding-bottom: 0;
}
.purchase-return-product .ant-modal-content {
  padding: 0 !important;
}
.purchase-return-product .ant-modal-content .ant-modal-close {
  top: 0.625rem;
  right: 1rem;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 0.063rem solid #dc3545;
  background: #dc3545;
  transition: all 0.3s ease-in-out;
  box-shadow: #dc3545 0px 3px 8px -2px, #dc3545 0px 3px 7px -3px;
}
.purchase-return-product .ant-modal-content .ant-modal-close .ant-modal-close-x .ant-modal-close-icon svg {
  width: 100%;
  height: 12px;
  fill: #fff;
  transition: all 0.3s ease-in-out;
}
.purchase-return-product .ant-modal-content .ant-modal-close:hover {
  background: rgba(220, 53, 69, 0.2196078431);
  border: 0.063rem solid #dc3545;
}
.purchase-return-product .ant-modal-content .ant-modal-close:hover .ant-modal-close-x .ant-modal-close-icon svg {
  fill: #dc3545;
}
.purchase-return-product .ant-modal-content .ant-modal-header {
  margin-bottom: 0;
}
.purchase-return-product .ant-modal-content .ant-modal-header .ant-modal-title {
  color: #1e293b;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.5;
  border-bottom: 0.063rem solid #deebff;
  margin: 0 1rem;
  padding: 0.375rem 0;
}
.purchase-return-product .ant-modal-content .ant-modal-body {
  max-height: 500px;
  padding: 0.625rem 1rem;
  overflow: auto;
}
@media screen and (max-width: 767px) {
  .purchase-return-product .ant-modal-content .ant-modal-body {
    max-height: 410px;
  }
}
.purchase-return-product .ant-modal-content .ant-modal-body .table-wrap .table {
  padding: 0;
  overflow: auto;
}
.purchase-return-product .ant-modal-content .ant-modal-body .table-wrap .table .ant-table-wrapper {
  padding: 0;
}
.purchase-return-product .ant-modal-content .ant-modal-body .table-wrap .table .ant-table-content table {
  border-collapse: collapse;
  border: 0.063rem solid #deebff;
}
.purchase-return-product .ant-modal-content .ant-modal-body .table-wrap .table .ant-table-content table .ant-table-thead tr .ant-table-cell {
  border: 0.063rem solid #deebff;
  background: #fafafa;
  text-transform: uppercase;
}
.purchase-return-product .ant-modal-content .ant-modal-body .table-wrap .table .ant-table-content table .ant-table-tbody tr .ant-table-cell {
  border: 0.063rem solid #deebff;
}
.purchase-return-product .ant-modal-content .ant-modal-body .table-wrap .table .ant-table-content table .ant-table-tbody tr .ant-table-cell .input-area-main {
  height: 45px;
}
.purchase-return-product .ant-modal-content .ant-modal-body .table-wrap .table .ant-table-content table .ant-table-tbody tr .ant-table-cell .input-area-main .ant-input {
  height: 40px;
  background: #f3f6f9;
  width: 120px;
  padding-left: 0.375rem;
}
.purchase-return-product .ant-modal-content .ant-modal-body .table-wrap .table .ant-table-content table .ant-table-tbody tr .ant-table-cell .input-area-main .error-count-msg .error-msg {
  width: 100%;
  color: #dc3545;
  font-size: 0.813rem;
  font-weight: 400;
  margin-top: 0.25rem;
  margin-bottom: 0;
}
.purchase-return-product .ant-modal-content .ant-modal-body .input-wrap {
  margin-top: 1rem;
}
.purchase-return-product .ant-modal-content .ant-modal-body .input-wrap .input-area-main {
  height: 77px;
}
.purchase-return-product .ant-modal-content .ant-modal-body .input-wrap .input-area-main .ant-select {
  background: #f3f6f9;
}
.purchase-return-product .ant-modal-content .ant-modal-body .input-wrap .input-area-main .ant-input {
  background: #f3f6f9;
}
.purchase-return-product .ant-modal-content .ant-modal-body .input-wrap:nth-child(3) {
  margin-top: 0;
}
.purchase-return-product .ant-modal-content .ant-modal-body .total-amount-main {
  font-weight: 500;
  background-color: rgba(236, 236, 236, 0.7607843137);
  width: 50%;
  padding: 1rem;
  color: #5b6670;
  font-size: 0.938rem;
  font-weight: 500;
  margin: 0 0 1rem auto;
}
@media screen and (max-width: 1440px) {
  .purchase-return-product .ant-modal-content .ant-modal-body .total-amount-main {
    font-size: 0.813rem;
  }
}
.purchase-return-product .ant-modal-content .ant-modal-body .total-amount-main .total-amount {
  display: flex;
  justify-content: space-between;
  margin-top: 0.75rem;
}
.purchase-return-product .ant-modal-content .ant-modal-body .total-amount-main .total-amount:nth-child(1) {
  margin-top: 0;
}
.purchase-return-product .ant-modal-content .ant-modal-body .btn-main {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.purchase-return-product .ant-modal-content .ant-modal-body .btn-main button {
  width: 48%;
}
.purchase-return-product .ant-modal-content .ant-modal-body .btn-main .cancel-btn {
  height: 50px;
  background: #dc3545 !important;
  color: #fff;
  font-size: 0.875rem;
  border: none;
  box-shadow: rgba(220, 53, 69, 0.4588235294) 0px 6px 12px -2px, rgba(220, 53, 69, 0.3098039216) 0px 3px 7px -3px;
}
@media screen and (max-width: 992px) {
  .purchase-return-product .ant-modal-content .ant-modal-body .btn-main .cancel-btn {
    height: 40px;
    font-size: 0.813rem;
  }
}
.purchase-return-product .ant-modal-content .ant-modal-body .btn-main .cancel-btn::after {
  content: "";
  background: linear-gradient(132deg, #4f46e5 4.27%, #6366f1) !important;
}
.purchase-return-product .ant-modal-content .ant-modal-body .btn-main .cancel-btn:hover {
  box-shadow: rgba(76, 77, 227, 0.3803921569) 0px 6px 12px -2px, rgba(76, 77, 227, 0.2588235294) 0px 3px 7px -3px !important;
}
.purchase-return-product .ant-modal-content .ant-modal-body .btn-main .cancel-btn .ant-image {
  display: flex;
}/*# sourceMappingURL=NewPurchaseReturn.css.map */